<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Materias</title>
    <link rel="stylesheet" href="FDefault.css">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/api/subjects" method="POST">
        <h3>Registro de Materias</h3>

        <label for="subject_id">ID de la Materia</label>
        <input type="number" id="subject_id" name="subject_id" placeholder="Ingresa el ID de la materia" required>

        <label for="name">Nombre de la Materia</label>
        <input type="text" id="name" name="name" placeholder="Ingresa el nombre de la materia" required>

        <button type="submit">Guardar Materia</button>
        <button type="button" onclick="window.location.href='Main.html';">Regresar</button>
    </form>
</body>
</html>
