{{ define "Main.html" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Main.css">
    <title>{{ .title }}</title>
</head>
<body>
    <div class="header">
        <h1>Menú de Acciones</h1>
    </div>
    
    <div class="nav-menu">
        <div class="dropdown">
            <a href="#">Crear</a>
            <div class="dropdown-content">
                <a href="/api/students">Estudiantes</a>
                <a href="/api/subjects">Materias</a>
                <a href="/api/grades">Calificaciones</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#">Eliminar</a>
            <div class="dropdown-content">
                <a href="/api/students/:id">Estudiantes</a>
                <a href="/api/subjects/:id">Materias</a>
                <a href="/api/grades/:id">Calificaciones</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#">Modificar</a>
            <div class="dropdown-content">
                <a href="/api/students/:id">Estudiantes</a>
                <a href="/api/subjects/:id">Materias</a>
                <a href="/api/grades/:id">Calificaciones</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#">Consultar</a>
            <div class="dropdown-content">
                <a href="/api/students/:student_id">Estudiantes</a>
                <a href="/api/subjects/:subject_id">Materias</a>
                <a href="/api/grades/student/:student_id">Calificaciones</a>
            </div>
        </div>
    </div>
</body>
</html>
{{ end }}
