<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Main.css">
    <title>Menú de Acciones</title>
</head>
<body>
    <div class="header">
        <h1>Menú de Acciones</h1>
    </div>
    
    <div class="nav-menu">
        <div class="dropdown">
            <a href="#">Crear</a>
            <div class="dropdown-content">
                <a href="LEstudiantes.html">Estudiantes</a>
                <a href="LMaterias.html">Materias</a>
                <a href="LCalificaciones.html">Calificaciones</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#">Eliminar</a>
            <div class="dropdown-content">
                <a href="KEstudiantes.html">Estudiantes</a>
                <a href="KMaterias.html">Materias</a>
                <a href="KCalificaciones.html">Calificaciones</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#">Modificar</a>
            <div class="dropdown-content">
                <a href="MEstudiantes.html">Estudiantes</a>
                <a href="MMaterias.html">Materias</a>
                <a href="MCalficaciones.html">Calificaciones</a>
            </div>
        </div>

        <div class="dropdown">
            <a href="#">Consultar</a>
            <div class="dropdown-content">
                <a href="XEstudiantes.html">Estudiantes</a>
                <a href="XMaterias.html">Materias</a>
                <a href="XCalificaciones.html">Calificaciones</a>
            </div>
        </div>
    </div>
</body>
</html>
